###############################################################################
# Jira Service Management Home
###############################################################################

jira.home={{ jsm_home_dir }}
