<Connector
    port="{{ jsm_http_port }}"
    protocol="HTTP/1.1"
    connectionTimeout="20000"
    maxThreads="150"
    minSpareThreads="25"
    enableLookups="false"
    URIEncoding="UTF-8"
    redirectPort="{{ jsm_https_port }}"/>
